<h2> <%= @word.word %></h2>
<br>
<% if @definitions.any? %>
  <table class="table">
    <thead >
      <tr class="thead-dark">
        <th scope="col">Definition</th>
        <th scope="col">Update Definition</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <% @definitions.each do |definition| %>
      <tr>
      <td><a style="color:#4C3E92" href="/words/<%= @word.id %>"><%= definition.definition %></a> </td> 
      <td>
        <form action="/definition/word/<%= @word.id %>/update/<%=definition.id %>" method="post">
          <input id="update_definition<%=definition.id %>" name="update_definition" type="text" class="form-control">
          <input type="hidden" name="defid" value="<%= definition.id %>">
          <button type="submit" class="btn" id="update<%= definition.id %>" style="background-color:#89CFF0">Update</button>
        </form>
      </td>
      <td>
        <form action="/definition/word/<%=@word.id %>/Delete/<%=definition.id%>" method="post">
          <input name="_method" type="hidden" value="delete">
          <button type="submit" class="btn" style="background-color:#89CFF0">Delete</button>
        </form>
      </td>
      </tr>
    <% end %>
  </table>

  <form action="/definition/word/<%= @word.id %>" method="post">
    <label for="new_definition">Add Definition</label>
    <input id="new_definition" name="new_definition" type="text" class="form-control">
    <input name="_method" type="hidden" value="get">
    <button type="submit" class="btn" style="background-color:#89CFF0">Add Definition</button>
  </form>

<% else %>
  <p>There are currently no definitions to display.</p>
<% end %>
